<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/js/jquery-2.1.0.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/common-footer-and-head.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom-for-login.css">

    <script>
        $(function () {
            $("#name").blur(function (e) {
                $name = $.trim($('#name').val());
                $passwd = $.trim($('.passwd').val());
                $passwdconfirm = $.trim($('.passwdconfirm').val());
                $email = $.trim($('.email').val());

                $.post('/probe', {
                    name: $name,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                }, function (data) {
                    res = data.code

                    if (res === 1) {
                        $('.remind').hide();
                        $('.remindofnicknameisexist').hide();
                        $('#diables').removeAttr('disabled');
                    } else {
                        $('.remindofnicknameisexist').show()
                        $('.remindofnickname').show()
                        $('#diables').attr("disabled", "disabled");


                    }
                });

            });
            $('form').submit(function (e) {
                $name = $.trim($('#name').val());
                $passwd = $.trim($('.passwd').val());
                if ($name.length < 6 || $passwd.length < 6) {
                    $('.remindofonther').show();
                    return false;
                }
            })
        });
    </script>

</head>
<body>

<div class="all-wrapper">
    <!-- title -->
    <div class="title-wrapper">
        <h1>Login </h1>
    </div>
    <!-- form -->
    <div class="form" id="commit">
        <form class="form" action="/landing" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nickname</label>
                <input class="form-control" id="name" placeholder="Nickname" name="nickname"><span
                    class="remindofnicknameisexist">The nickname not is exist.</span><span class="remindofnickname">Please Re-input.</span><span
                    class="remindofnickname">and length of Nickname Min 6.</span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control passwd" id="exampleInputPassword1" placeholder="Password"
                       name="passwd"><span class="remindofonther">The length of Password Min 6.</span>
            </div>

            <a type="submit" class="btn btn-default" id="commit-btn" style="float: right;" href="/register">Register</a>
            <button type="submit" class="btn btn-default" id="diables">Login</button>
        </form>
    </div>
</div>

<!-- footer -->
<div class="foots">
    <p><a href="https://github.com/jiujue">About me</a> <span>| </span>
        <a href="#">Email : jiujueismmp@qq.com</a> <span>| </span>
        <a href="https://github.com/jiujue">My Github</a><span>| </span>
        <a href="https://www.cnblogs.com/jiujue/">My Cnblogs</a>
    </p>
    <p>CopyRight © 9012 JiuJueIsMmp All Rights Reserved</p>
    <p>tel：888-888888</p>
</div>

</body>
</html>